<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="../css/reset.css">
    <title>Title</title>
    <script type="text/javascript">
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 100 * 26.667 + "px";
    </script>
    <style>

    </style>
</head>
<body>


<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
<script>

    new Vue({
        el:"",
        data:{

        }
    })
</script>
</body>
</html>